<div class="container" fxLayout = "column" fxLayoutAlign = "center center">
  <div fxFlex style="height: 100%; margin-top: 50%;">
    <div>
      <img src="assets/images/logo-splash.png" alt="UVC logo" width="150px">
    </div>
    <div>
      <p style="color: gray; font-weight: bold;">Uma Vida com Cristo</p>
    </div>
    <div>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>

  <div>
    <p style="font-size: 10px; color: gray; font-weight: bold;">Powered by UVC Labs</p>
  </div>
</div>
