<nb-layout>

  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-layout-column>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
      optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
        optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
          optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
            optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
              optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                  optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                    optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                      optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                        optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                          optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                            optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                              optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                                optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                                  optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>
                                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores et voluptatem sint natus dolorem libero? Repellendus veritatis,
                                    optio perferendis unde dicta tenetur itaque quae inventore laboriosam enim quisquam, maiores sed.</p>

<app-team></app-team>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>

</nb-layout>
