<div fxLayout = "row wrap" fxLayoutAlign = "center center">
  <nb-layout-column>
    <div fxFlex fxLayout = "column">
      <a href="/"><img src="assets/images/logo-full.png" alt="UVC logo" width="150px"></a>
    </div>
  </nb-layout-column>

  <nb-layout-column>
    <div fxFlex fxLayout = "column">
      <a href="/"><img src="assets/images/logo-full.png" alt="UVC logo" width="150px"></a>
    </div>
  </nb-layout-column>

  <nb-layout-column>
    <div fxLayout = "column" fxLayoutAlign = "center center">
      <p>© 2021 - All Rights Reserved</p>
      <p>Uma Vida com Cristo</p>
    </div>
  </nb-layout-column>
</div>
<div fxLayout = "column" fxLayoutAlign = "center center">
  <p>© 2021 Uma Vida com Cristo, All Rights Reserved</p>
</div>
